{% extends 'concierge/base.html' %}

{% block body_block1 %}
	<div>
		Autoquiz is a tool I wish I had. It is amazing how much information we lose over time if
		we don't use it. Ever read a book only to forget the deets the next day? I do, <i>all</i> the 
		time. <a href="https://en.wikipedia.org/wiki/Flashcard"> Flashcards </a> are a great tool to help 
		retention, and I've used them previously in my readings to good use. But they're also a lot of 
		work to create, especially if the book you're reading is a 300 page book on Algorithm Design. 

		Autoquiz is a tool that summarizes key concepts in a body of text, and generates a set of 
		flashcards you can use to test yourself later. 

	</div>
{% endblock %}